<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>

<div th:replace="fragments/layout :: header"></div>
<main class="container">

    <h2>Twoja Pogoda</h2>
    <table>
        <td th:text="${weather.getLocationName()}"></td>
        <td th:text="${weather.getTemperature()} + '°' + ${scale}"></td>
    </table>

    <a th:href="@{'/weather/book'(location=${weather.getLocationName()},temperature=${weather.getTemperature()},scale=${scale})} ">Zarezerwuj pogodę!</a>
</main>

</body>
</html>