<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Kant-or</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<div th:fragment="menu">
    <h1>Kant-or</h1>
    <div><a href="/calculator">Przelicz walutę!</a></div>
    <div><a href="/admin/conversion/stats">Stats</a></div>
    <div><a href="/">Strona główna</a></div>
    <div><a href="/contact">Kontakt</a></div>

    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span><span class="logout" sec:authorize="hasRole('ADMIN')"> (admin)</span>
        <form class="form-check form-check-inline" action="#" th:action="@{/logout}" method="post">
            <input class="btn btn-sm btn-outline-primary" type="submit" value="Logout" />
        </form>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <a class="btn btn-sm btn-outline-primary" th:href="@{/login}">Login</a>
    </div>
</div>
</body>
</html>