<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <title>Kant-or</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div th:fragment="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Kant-or</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" th:href="@{/}">Homepage</a>
        <a class="p-2 text-dark" th:href="@{/weather}">Weather</a>
        <a class="p-2 text-dark" th:href="@{/about}">About</a>
    </nav>

    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span><span class="logout" sec:authorize="hasRole('ADMIN')"> (admin)</span>
        <form class="form-check form-check-inline" action="#" th:action="@{/logout}" method="post">
            <input class="btn btn-sm btn-outline-primary" type="submit" value="Logout" />
        </form>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <a class="btn btn-sm btn-outline-primary" th:href="@{/login}">Login</a>
    </div>
</div>

</body>
</html>