<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout :: head"></head>
<body>
    <div th:replace="fragments/layout :: header"></div>
    <main class="container">
        <div class="row">
            <div>
                <h2>Witaj w Kant-orze!</h2>
                <p>Znajdziesz nas we Wrocławiu na ulicy Walutowej 15.</p>
                <p>Telefon: 432-512-121.</p>
            </div>
        </div>
    </main>
    <a href="booking/enterBookingDetails">Enter application</a>
</body>
</html>