<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>

<div th:replace="fragments/layout :: header"></div>

<main class="container">
    <h2>Pogoda</h2>
    <table>
        <tr th:each="weather : ${weatherList}">
            <td th:text="${weather.getLocationName()}"></td>
            <td th:text="${weather.getTemperature()}"></td>
        </tr>
    </table>

    <h2>Zaawansowana pogoda</h2>
    <form action="/weather/details">
        <input name="location"/>
        <select name="scale">
            <option value="C">C</option>
            <option value="F">F</option>
        </select>
        <input type="submit">
    </form>

    <a href="/enterBookingDetails">Rezerwuj pogodę</a>
</main>

</body>
</html>